:root {
    --primary-color: #398BAB;
    --secondary-color: #E87C32;
    --text-color: #333;
    --background-color: #f9f9f9;
    --max-width: 800px;
    --font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #5aadcc;
        --secondary-color: #ff9d5c;
        --text-color: #e0e0e0;
        --background-color: #121212;
    }
}

*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-wrap: balance;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2.5rem;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 1.8rem;
}

p, ul {
    margin-bottom: 1.5rem;
    text-wrap: pretty;
}

ul {
    padding-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
}
